范例程序/CH07/7_8_WcfEF/WcfEF/WcfServiceEdm/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53898/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53898/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53898/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceEdm.Model" />
      <xsd:import schemaLocation="http://localhost:53898/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceEdm" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductList" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductAll" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductSpriceList_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductSpriceList" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductSpriceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductSpriceListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductSpriceAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductSpriceAll" />
  </wsdl:message>
  <wsdl:message name="IService1_ProductSpriceAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductSpriceAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProductList" message="tns:IService1_ProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProductListResponse" message="tns:IService1_ProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProductAll" message="tns:IService1_ProductAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProductAllResponse" message="tns:IService1_ProductAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductSpriceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProductSpriceList" message="tns:IService1_ProductSpriceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProductSpriceListResponse" message="tns:IService1_ProductSpriceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductSpriceAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProductSpriceAll" message="tns:IService1_ProductSpriceAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProductSpriceAllResponse" message="tns:IService1_ProductSpriceAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProductList">
      <soap:operation soapAction="http://tempuri.org/IService1/ProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductAll">
      <soap:operation soapAction="http://tempuri.org/IService1/ProductAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductSpriceList">
      <soap:operation soapAction="http://tempuri.org/IService1/ProductSpriceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductSpriceAll">
      <soap:operation soapAction="http://tempuri.org/IService1/ProductSpriceAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53898/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>